.main-wrapper {
    width: 100%;
    height: 100%;
    /*background-color: salmon;*/
}

/* Main Navigation */
.navigation-container {
    width: 100%;
    height: 200px;
    background-color: #7dd9e8;
}

.navigation-contents {
    width: 94%;
    height: auto;
    margin: 0 auto;
    /*background-color: chartreuse;*/
}

.left-nav-container {
    width: 100%;
    height: auto;
    /*background-color: purple;*/
}

.left-nav-logo {
    padding-top: 10px;
    text-align: center;
}

.left-nav-search {
    width: 100%;
    height: 40px;
    padding: 10px 0 10px 0;
    /*background-color: green;*/
    /*margin: 0 auto;*/
}

.search-box-container {
    width: 350px;
    height: 20px;
    padding: 10px 0 10px 0;
    /*background-color: red;*/
    position: relative;
    margin: 0 auto;
}

.search-box-left {
    float: left;
    background: url("../images/search_border_left.png") no-repeat left bottom;
}

.search-box-right {
    float: left;
    height: 20px;
    width: 53px;
    margin-left: 7px;
}

.right-nav-container {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 0 0 10px 0;
    /*background-color: yellow;*/
}

.right-nav-user-detail {
    width: 30%;
    height: 30px;
    padding: 10px 0 10px 0;
    float: left;
    /*background-color: crimson;*/
}

.right-nav-navigation {
    width: 70%;
    height: 30px;
    padding: 10px 0 10px 0;
    float: left;
    text-align: right;
    /*background-color: purple;*/
}

.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-navigation li {
    display: inline;
}

.user-navigation a {
    color: #323232;
    font-family: 'Istok Web', sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.user-navigation a:hover {
    color: #F5F5F5;
}


/* Sub Navigation */
.sub-navigation-wrapper {
    width: 100%;
    /*height: 250px;*/
    height: 200px;
    background-color: #F5F5F5;
}

.sub-navigation-container {
    width: 94%;
    margin: 0 auto;
    /*height: 250px;*/
    height: 200px;
    background-color: #F5F5F5;
}

.sub-left-button {
    width: 100%;
    text-align: center;
}

.sub-left-button i {
    font-size: 50px;
}

.sub-left-contents {
    height: 150px;
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
    /*padding-top: 15px;*/
    /*float: left;*/
}

.sub-right-contents {
    width: 100%;
    /*height: 30px;*/
    background-color: #F5F5F5;
}

.sub-left-content {
    text-align: center;
    float: left;
    width: 50%;
    margin: 0 auto;
}


/* MIDDLE SECTION */
/* MIDDLE ONE */
.middle-section {
    width: 100%;
    height: 1100px;
    margin-top: 10px;
    /*margin-bottom: 50px;*/
    /*background-color: red;*/
}

.middle-section-header {
    height: 40px;
    padding-top: 10px;
    width: 100%;
    background-color: #FFFFFF;
}

.middle-section-tab {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    /*background-color: yellow;*/
    /*border-bottom: 2px solid #2fc1da;*/
}

.section-tab-right {
    width: 100%;
    height: 67px;
    border-bottom: 2px solid #2fc1da;
    /*background-color: green;*/
    background: url("../images/tab_container_left_border.png") no-repeat #F5F5F5 left top;
}

.section-tab-title {
    padding-top: 10px;
    height: 31px;
    width: 100%;
    text-align: center;
    /*background-color: purple;*/
}

.section-tab-buttons {
    height: 28px;
    /*padding: 5px 0 5px 0;*/
    width: 100%;
    /*background-color: salmon;*/
}

.section-tab-left {
    width: 100%;
    height: 67px;
    /*background-color: green;*/
    border-bottom: 2px solid #2fc1da;
    background: url("../images/tab_container_border_right.png") no-repeat #F5F5F5 right top;
}


.tab-button-wrapper-1 {
    height: 28px;
    /*width: 45%;*/
    width: 114px;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
}

.tab-button-wrapper-2 {
    height: 28px;
    width: 114px;
    margin-right: 10px;
    float: right;
}

/*MIDDLE SECTION CONTENTS*/
.middle-section-contents {
    width: 100%;
    height: 900px;
    background-color: #FFFFFF;
}

.section-content-container {
    height: 170px;
    width: 100%;
    /*padding-top: 10px;*/
    border-bottom: 1px solid #d8d8d8;
}

.middle-contents-right img{
    max-width: 100%;
    margin: 10px 0 0 10px;
}

.middle-contents-left {
    width: 100%;
    height: 50px;
    margin: 10px 0 0 10px;
}

.middle-content-sub-title span {
    color: #2fc1da;
    font-weight: bold;
    font-size: 9px;
    font-family: 'Istok Web', sans-serif;
}

.middle-content-sub-title-red span{
    color: #d53f1c;
    font-weight: bold;
    font-size: 9px;
    font-family: 'Istok Web', sans-serif;
}

.middle-content-title span {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.middle-content-sub-title,
.middle-content-title,
.middle-content-body,
.middle-content-origin,
.middle-content-sub-title-red {
    margin-bottom: 3px;
}

.by {
    color: #616161;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Istok Web', sans-serif;
}

.username {
    color: #2fc1da;
    font-weight: bold;
    font-size: 12px;
    font-family: "Istok Web", sans-serif;
}

.community-topic {
    color: #616161;
    font-weight: bold;
}

.subscribed {
    color: #709620;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Istok Web', sans-serif;
}


/* LEFT ONE */
.contents-wrapper {
    width: 100%;
    height: 2100px;
    /*margin-top: 50px;*/
    /*background-color: yellow;*/
}

.contents-container {
    width: 94%;
    height: auto;
    margin: 0 auto;
    /*background-color: salmon;*/
}

.left-section {
    height: 504px;
    width: 100%;
    background-color: #F5F5F5;
    /*background-color: pink;*/
    margin-top: 10px;
    /*float: left;*/
}

.left-section-header {
    height: 30px;
    width: 100%;
    padding-top: 12px;
    /*padding-left: 12px;*/
    background-color: #2fc1da;
}

.left-section-contents {
    width: 100%;
    background-color: #F5F5F5;
}

.left-section-items {
    padding: 12px 12px;
}

.left-section-items:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

/*RIGHT ONE*/
.right-section {
    height: 450px;
    /*margin-top: 50px;*/
    width: 100%;
    background-color: #F5F5F5;
    /*float: left;*/
}

.right-section-header {
    padding-top: 12px;
    /*padding-left: 12px;*/
    width: 100%;
    height: 30px;
    background-color: #2fc1da;
}

.right-section-contents {
    width: 100%;
    background-color: #F5F5F5;
}

.right-section-items {
    padding: 12px 12px;
}

.right-section-items:hover {
    background-color:#FFFFFF;
    cursor: pointer;
}


/* Footer */
.footer-wrapper {
    width: 100%;
    height: 260px;
    /*margin-top: 50px;*/
    background-color: #727272;
}

.footer-container {
    width: 94%;
    height: 220px;
    margin: 0 auto;
    background-color: #727272;
}

.footer-left {
    width: 100%;
    height: 200px;
    text-align: center;
}

.footer-right {
    width: 100%;
    height: 35px;
    padding-top: 20px;
    text-align: center;
}




