@media screen and (min-width: 768px) {
    .middle-section {
        width: 518px;
        margin: 0 auto;
        height: 630px;
    }

    .middle-section-header {
        text-align: center;
    }

    .middle-section-tab {
        width: 518px;
        height: 75px;
        margin: 0 auto;
    }

    .section-tab-right {
        width: 258px;
        margin-right: 2px;
        float: left;
    }

    .section-tab-left {
        width: 258px;
        float: right;
    }

    /* CONTENTS CONTAINER  */
    .contents-wrapper {
        height: 1600px;
    }


    .middle-section-contents {
        width: 518px;
        margin: 0 auto;
        height: 505px;
    }

    .section-content-container {
        height: 90px;
        width: 518px;
        padding-top: 10px;
    }

    .middle-contents-right img {
        margin-left: 0;
        margin-top: 0;
    }

    .middle-contents-right {
        float: left;
    }

    .middle-contents-left {
        width: 438px;
        height: 100px;
        float: left;
        margin-left: 10px;
        margin-top: 0;
    }

    .left-section-header {
        width: 100%;
    }

    .right-section-header {
        width: 100%;
    }
}

/* ORDERING MATTERS */
@media screen and (min-width: 938px) {
    .contents-wrapper {
        margin: 30px 0 35px 0;
        height: 635px;
    }

    .middle-section-header {
        text-align: left;
    }

    .middle-section {
        width: 518px;
        float: right;
        margin: 0 24px 0 26px;
    }

    .sub-left-button {
        display: none;
    }

    #toggled-navigation{
        display: block;
    }

    #sub-navigation-wrapper-id{
        height: 40px;
    }

    #sub-navigation-container-id{
        height: 40px;
    }
}