@media only screen and (min-width: 938px) {
    .navigation-container {
        height: 85px;
    }

    .navigation-contents {
        width: 938px;
        height: 85px;
    }

    .left-nav-container {
        height: 85px;
    }

    .right-nav-container {
        height: 85px;
        margin-top: 0;
    }

    .search-box-container {
        float: left;
        margin: 0;
        padding: 0;
    }

    .sub-navigation-container {
        width: 938px
    }

    .footer-container {
        width: 938px;
    }

    .left-nav-container {
        width: 74%;
        float: left;
    }

    .left-nav-logo {
        text-align: left;
        float: left;
        padding-top: 0;
        width: auto;
    }

    .left-nav-search {
        width: 60%;
        float: left;
        margin: 23px 0 0 22px;
    }

    .right-nav-container {
        width: 26%;
        padding: 0;
        float: left;
    }

    .right-nav-user-detail {
        text-align: right;
        margin: 20px 0 0 0;
        padding: 0;
        width: 100%;
        height: 20px;
        float: left;
    }

    .right-nav-navigation {
        padding: 0;
        width: 100%;
        height: 30px;
        float: left;
    }

    /* SUB NAVIGATION   */
    .sub-navigation-wrapper {
        width: 100%;
        height: 40px;
        background-color: #F5F5F5;
        /*height: 200px;*/
    }

    .sub-navigation-container {
        width: 938px;
        height: 40px;
        margin: 0 auto;
    }

    .sub-left-contents {
        height: 26px;
        width: 554px;
        /*background-color: blue;*/
        text-align: left;
        /*width: 554px;*/
        padding-top: 14px;
        float: left;
    }

    .sub-right-contents {
        height: 30px;
        width: 384px;
        /*background-color: purple;*/
        /*height: 40px;*/
        /*width: 384px;*/
        padding-top: 10px;
        text-align: left;
        float: left;
    }

    .sub-left-content {
        float: left;
        margin-left: 28px;
        width: auto;
    }

    .sub-left-text-2:hover {
        color: #3c3c3c;
        cursor: pointer;
    }

    .sub-navigation-list {
        list-style: none;
        font-size: 11px;
        margin: 0;
        padding: 0;
    }

    .sub-navigation-list a {
        color: #3c3c3c;
        font-family: 'muli', sans-serif;
        font-size: 13px;
        font-weight: bold;
        padding: 0 14px;
    }

    .sub-navigation-list a:hover {
        color: #FFFFFF;
        background-color: #7dd9e8;
        padding: 14px 14px 13px 14px;
    }

    .sub-navigation-list li {
        display: inline;
        padding: 0;
    }


    /* MIDDLE CONTAINER */
    .contents-wrapper {
        margin: 30px 0 35px 0;
        height: 635px;
    }

    .contents-container {
        width: 938px;
    }

    .left-and-middle-wrapper {
        width: 762px;
        float: left;
    }

    .middle-section {
        width: 518px;
        float: right;
        margin: 0 24px 0 26px;
    }

    .middle-section-tab {
        width: 518px;
    }

    .section-tab-right {
        width: 258px;
        margin-right: 2px;
        float: left;
    }

    .section-tab-left {
        width: 258px;
        float: left;
    }

    .section-tab-title span {
        font-size: 12px;
    }

    /*LEFT ONE*/
    /*.left-section {*/
    /*    width: 194px;*/
    /*    margin-top: 0;*/
    /*    float: left;*/
    /*    height: 630px;*/
    /*}*/

    .left-section {
        height: 630px;
        width: 194px;
        background-color: #F5F5F5;
        float: left;
        margin: 0;
    }

    .left-section-header {
        width: 100%;
    }

    .right-section {
        height: 630px;
        width: 176px;
        background-color: #F5F5F5;
        float: left;
    }

    .right-section-header {
        width: 100%;
    }

    .left-section-items span {
        font-size: 11px;
        line-height: 16px;
        font-weight: bold;
    }

    .right-section-items span {
        font-size: 11px;
        font-weight: bold;
    }


    /*RIGHT ONE*/
    /*.right-section {*/
    /*    width: 176px;*/
    /*    float: left;*/
    /*    height: 630px;*/
    /*}*/

    /*.right-section-header {*/
    /*    width: 164px;*/
    /*}*/

    /* FOOTER */
    .footer-wrapper {
        height: 45px;
        width: 100%;
        background-color: #727272;
    }

    .footer-container {
        height: 45px;
        width: 938px;
        background-color: #727272;
        margin: 0 auto;
    }

    .footer-left {
        width: 760px;
        height: 30px;
        padding-top: 15px;
        float: left;
        text-align: left;
    }

    .footer-right {
        width: 170px;
        height: 30px;
        padding-top: 15px;
        float: left;
    }

    .footer-right-copyright {
        float: right;
    }

    .footer-copyright span {
        font-size: 10px;
    }

    .footer-circle {
        display: inline;
    }

    .footer-navigation li {
        display: inline;
        padding: 0;
    }

    .footer-navigation a {
        font-size: 10px;
    }

    .footer-navigation li:hover {
        color: #000000;
        background-color: transparent;
    }
}